body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    gap: 15px;
    
}

.singup{
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 172, 221);
    width: 400px;
    height:300px;
    border-radius: 10px;
}

input{
    width: 240px;
    height: 35px;
    background-color:rgb(24, 221, 235);
    border-radius: 8px;
    margin-left: 70px;
    font-size: 16px;
    margin-top: 15px;
    outline: none; 
}

button{
    width: 100px;
    height: 30px;
    background-color:rgb(26, 222, 236);
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 140px;

}
input:hover{
    background-color: aquamarine;
    background-color:darkturquoise;
}

button:hover{
    background-color:aquamarine;
    border-color: rgb(0, 217, 255);
    flex-direction: column;
}